{{ attach_library( 'student/student-style' ) }}
<table>
  <thead>
    <tr>
      <th>Roll No</th>
      <th>Name</th>
      <th>Age</th>
      <th>Phone Number</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    {% for student in details %}
    <tr>
        <td>{{ student.rollNo }}</td>
        <td>{{ student.sname }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.phoneNo }}</td>
        <td>{{ student.attendance }}</td>
        <td class="hike-field">
            <button value="1" class="attendance" name="{{ student.rollNo }}">PRESENT</button>
            <div class="hike-percentage-container">
                {{ form }}
            </div>
          </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <h2>Number of student absent </h2>
   {% for students in absentstudent %}
   <tr>
   <td>{{ students.sname }}</td>
   </tr>
   {% endfor %}
</div>

